#woocrl-page {
	background: #fff;
	padding: 15px;
	border: rgba(0, 0, 0, .3) 1px solid;
	margin-bottom: 30px;
}
.woocrl-divi {
	margin: 15px 0;
	height: 1px;
	background: rgba(0, 0, 0, .3);
}
.woocrl-button {
	display: inline-block;
	white-space: nowrap;
	height: 32px;
	line-height: 32px;
	color: #0071a1 !important;
	border: #0071a1 1px solid !important;
	border-radius: 6px;
	background: #f3f5f6 !important;
	padding: 0 15px;
	margin: 15px 0;
	cursor: pointer;
}